
body {
  font-family: "Poppins", "Quicksand", sans-serif;
  background: #fdf8ff;
  color: #444;
  padding: 20px;
}

input, select {
  padding: 10px 14px;
  border: 2px solid #e7d4ff;
  border-radius: 12px;
  background: #ffffff;
  font-size: 15px;
  outline: none;
  transition: 0.25s ease-in-out;
  margin: 5px 0;
}

input:focus, select:focus {
  border-color: #d2a8ff;
  box-shadow: 0 0 6px #e7c6ff;
}

p, br {
  margin: 4px 0;
}
button {
  background: #d7b1ff;
  border: none;
  padding: 10px 18px;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  transition: 0.25s ease;
  margin-top: 10px;
}

button:hover {
  background: #c89aff;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(201, 154, 255, 0.3);
}

app-pokedetail {
  display: block;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  background: #ffffff;
  border: 2px solid #ecd8ff;
  box-shadow: 0 4px 10px rgba(200, 167, 255, 0.15);
}

